.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  box-shadow: var(--box-shadow-1);
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
  white-space: nowrap;
}

.button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.button--full-width {
  width: 100%;
}

.button--disabled {
  cursor: not-allowed;
}

.button--small {
  font-size: 14px;
  padding: 4px 8px;
}

.button--accent-colored-text {
  color: var(--accent-color);
}

.button--no-shadow {
  box-shadow: none;
}

.button--no-border {
  border: none;
}