.list-page {
  display: grid;
  grid-template-rows: min-content auto;
  grid-gap: 3px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.list-page__main {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list-page__list {
  min-height: calc(100vh - 208px);
  padding-top: 13px;
}

.list-page__credits {
  padding: 16px 32px 32px 32px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

.list-page__list-item {
  display: block;
  width: 100%;
  position: relative;
  font-size: 16px;
  border: solid thin rgba(0, 0, 0, .1);
  border-right: 0px;
  border-left: 0px;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 16px 32px;
  padding-right: 54px;
  text-align: left;
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
}

.list-page__list-item:hover {
  background-color: rgba(0, 0, 0, .05);
}

.list-page__list-item--active {
  background-color: rgba(0, 0, 0, .1);
  cursor: default;
}

.list-page__list-item--active:hover {
  background-color: rgba(0, 0, 0, .1);
}

.list-page__list-item__title {
  font-weight: 800;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-page__list-item__date {
  font-weight: 300;
}

.list-page__list-item__icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  pointer-events: none;
}