.title {
  display: block;
  width: 100%;
  font-size: 40px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  color: var(--text-color);
  border: 0px;
  background-color: transparent;
  font-weight: 800;
  padding: 0px;
}