.about {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    grid-template-rows: 50px auto;
    z-index: 1;
    transform: translateX(100%);
    will-change: transform;
    transition: transform .3s ease-in;
    box-shadow: -2px 3px 15px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 15px;
}

.about--active {
    transform: translateX(0%);
}

@media (min-width: 768px) {
    .about {
        position: relative;
        transition: none;
        transform: translateX(0%);
        box-shadow: none;
    }
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__content__wrapper {
    display: block;
    width: 100%;
    max-width: 320px;
}