.composer {
    display: grid;
    grid-template-rows: 50px auto 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFF;
    pointer-events: none;
    z-index: 0;
    transform: translateX(101%);
    will-change: transform;
    transition: all .3s ease-in;
    box-shadow: -2px 3px 15px rgba(0, 0, 0, .3);
}

@media (min-width: 768px) {
    .composer {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        background-color: transparent;
        pointer-events: initial;
        box-shadow: none;
        transform: translateX(0%);
    }
}

.composer--foreground {
    transform: translateX(0%);
    pointer-events: initial;
    z-index: 1;
}

@media (min-width: 768px) {
    .composer--foreground {
        animation: none;
        z-index: 0;
    }
}

.composer__textarea {
    padding: 15px;
    min-height: 100%;
    box-sizing: border-box;
}

.composer__textarea ul {
    list-style-type: circle;
}