.composer {
    display: grid;
    grid-template-rows: 50px 15px auto;
    max-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    pointer-events: none;
    z-index: 0;
    transform: translateX(101%);
    will-change: transform;
    transition: all .3s ease-in;
    box-shadow: -2px 3px 15px rgba(0, 0, 0, .3);
    pointer-events: none;
    filter: grayscale(100%);
}

@media (min-width: 768px) {
    .composer {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        background-color: transparent;
        pointer-events: initial;
        box-shadow: none;
        transform: translateX(0%);
    }
}

.composer--active {
    transform: translateX(0%);
    pointer-events: initial;
    z-index: 1;
    pointer-events: auto;
    filter: grayscale(0%);
}

@media (min-width: 768px) {
    .composer--active {
        animation: none;
        z-index: 0;
    }
}

.composer__scrollview {
    position: relative;
    margin-bottom: 100px;
}

.composer__textarea {
    padding: 15px;
    min-height: 100%;
    box-sizing: border-box;
}

.composer__textarea ul {
    list-style-type: none;
    display: block;
}

.composer__textarea ul li {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    position: relative;
}

.composer__textarea input[type=checkbox] {
    display: block;
    position: absolute;
    appearance: none;
    width: 23px;
    height: 23px;
    border: solid thin #CCC;
    border-radius: 100%;
}

.composer__textarea input[type=checkbox]:checked {
    background-color: var(--primary-color);
    border: solid 3px #FFF;
    box-shadow: 0px 0px 0px 1px var(--primary-color);
}

.composer__textarea img {
    width: 640px;
    max-width: 100%;
}

.composer__textarea h1 {
    margin-top: 0px;
}

.composer__textarea h2 {
    font-weight: normal;
    font-style: italic;
}

.composer__last-update {
    color: #CCC;
    font-size: 12px;
    text-align: center;
}

.composer__file {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: absolute;
    pointer-events: none;
    appearance: none;
}