.toolbar-button {
    font-size: 16px;
    color: var(--primary-color);
    background: transparent;
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    display: flex;
}

.toolbar-button > *:nth-child(2) {
    padding-left: 7px;
}

.toolbar-button--disabled {
    color: #9E9E9E;
    cursor: not-allowed;
}

.toolbar-button--dark {
    color: #212121;
}

.toolbar-button__icon {
    font-size: 22px;
}

.toolbar-button__icon--small {
    font-size: inherit;
    margin-right: 7px;
}

@media (min-width: 768px) {
    .toolbar-button--mobile-only {
        display: none;
    }
}

.toolbar-button__text {
    line-height: 22px;
}